<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Edit User Details</h2>
    <span class="error"> {{ status }} </span>
    <form name="myForm" novalidate ng-submit="edit_user(myForm.$valid)">
      <p>Name:<br>
	<input type="text" class="form-control" name="user"
               ng-pattern="/^[a-zA-Z\s]*$/" ng-model="name" required>
	<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
	  <span ng-show="myForm.user.$error.required">Username is
	    required.</span>
          <span ng-show="myForm.user.$error.pattern">Enter valid name</span>
	</span>
      </p>
      <p>Email:<br>
	<input type="text" name="email" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+@[A-Za-z]+\.[A-Za-z.]{2,20}$/" class="form-control"  ng-model="email" required>
	<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
	  <span ng-show="myForm.email.$error.required">Email is required.</span>
	  <span ng-show="myForm.email.$error.pattern">Enter valid email-id</span>
	</span>
      </p>
      <p>
	<input type="submit" value="Save" class="btn btn-primary"  ng-disabled="myForm.$invalid">
	<a href="#/">Cancel</a>
      </p>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
