{% extends "layout.html" %}
{% block content %}
<!--
{% if session.name %}
<br><br><br>
<div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    Email-id : <b>{{ session.name }}</b><br><br>
    <form action="/role" method="POST">
      Choose Role :
      <select class="form-control" name="role">
        <option value="Guest">Guest</option>
        <option value="Admin">Admin</option>
        <option value="Owner">Owner</option>
        <option value="User">User</option>
      </select>
      <span class= "error"> </span>&emsp; <input type="submit" class="btn btn-primary
                                                                      btn-signin" value="Submit">
    </form>
  </div>
</div>

{% else %}
{% endif %}
-->
{% endblock %}
  
  
