<div class="row">
  <div class="col-md-9"><h2>User Details</h2></div>
  <span class="error"> {{ status }} </span>
  <br>
  <div class="col-md-2" ng-if="role_name == 'admin'">
    <a href="#/add-user" class="btn btn-primary">Add User</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-stripped">
	<thead>
	  <tr>
	    <th>S.NO</th>
            <th>Name</th>
	    <th>Role</th>
	    <th>Action</th>
	  </tr>
        </thead>
	<tbody>
	  <tr ng-repeat="user in users">
	    <td>{{ $index+1 }}</td>
            <td>{{ user.name }}</td>
	    <td>{{ user.roles[0]['name'] }}</td>
            <td><a href="#/view-user/{{user.id}}" class="btn btn-primary">View</a></td>
	  </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





